<!DOCTYPE html>
<html class="no-js" lang="zxx">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="meta description">

    <title>主页</title>

    <!--=== Favicon ===-->
<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon"/>
<!--=== Bootstrap CSS ===-->
<link href="css/vendor/bootstrap.min.css" rel="stylesheet">
<!--=== Font-Awesome CSS ===-->
<link href="css/vendor/font-awesome.css" rel="stylesheet">
<!--=== Plugins CSS ===-->
<link href="css/plugins.css" rel="stylesheet">
<!--=== Helper CSS ===-->
<link href="css/helper.min.css" rel="stylesheet">
<!--=== Main Style CSS ===-->
<link href="css/style.css" rel="stylesheet">

<!-- Modernizer JS -->
<script src="js/vendor/modernizr-2.8.3.min.js"></script>

    <!--[if lt IE 9]>
    <script src="http://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<header id="header-area">
    <!-- Start Main Menu Area -->
    <div class="navigation-area" id="fixheader">
        <div class="container">
            <div class="row">
                <!-- Categories List Start -->
                <div class="col-10 col-lg-3">
                    <div class="categories-list-wrap">
                        <button class="btn btn-category d-none d-lg-inline-block">旧书交易网站
                        </button>
                    </div>
                </div>

                <!-- Main Menu Start -->
                <div class="col-2 col-lg-9 d-none d-lg-block">
                    <div class="main-menu-wrap">
                        <nav class="mainmenu">
    <ul class="main-navbar clearfix">
        <li><a href="home.html">主页</a></li>
        <li><a href="sale.html">我要卖书</a></li>
        <li><a href="buy.html">我要买书</a></li>
        <li><a href="trade.html">我的交易</a></li>
        <li><a href="search.html">书籍搜索</a></li>
        <li><a href="chat.html">聊天室</a></li>
    </ul>
</nav>
                    </div>
                </div>
                <!-- Main Menu End -->
            </div>
        </div>
    </div>
    <!-- End Main Menu Area -->
</header>
<!--== End Header Section ==-->

<!--== Page Content Wrapper Start ==-->
<div id="page-content-wrapper">
    <div class="container">

        <div class="row">
            <div class="col-lg-10 m-auto">
                <div class="shop-page-content-wrap">
                    <div class="products-settings-option d-block d-md-flex">
                        <div class="product-cong-left d-flex align-items-center">
                            <ul class="product-view d-flex align-items-center">
                                <li class="list"><i class="fa fa-list-ul"></i></li>
                                <li class="box-gird current"><i class="fa fa-th"></i></li>
                            </ul>
                            <span class="show-items">最新上架</span>
                        </div>
                        <form action="seebuy" method="post">
                            <button class="btn">查看欲购书籍</button>
                        </form>
                    </div>

                    <div class="shop-page-products-wrap">
                        <div class="products-wrapper">

                            <div class="row">

                                <!-- Single Product Start -->
                                <div  th:each="book:${books}" class="col-lg-4 col-sm-6">
                                    <div class="single-product-item">
                                        <figure class="product-thumb">
                                            <a href="singleBook.html"><img src="" th:src="${book.picURL}" alt="Product"></a>
                                            <a href="singleBook.html" class="btn btn-round btn-cart" title="Quick View" data-toggle="modal" data-target="#quickView"><i class="fa fa-eye"></i></a>
                                        </figure>
                                        <div class="product-details">
                                            <h2 th:text="${book.bookname}" class="product-title text-center"><a href="singleBook.html">算法导论</a></h2>
                                            <span th:text="${book.curprice}" class="product-price text-center">¥50</span>

                                            <p th:text="${book.intro}" class="pro-desc">一本好书，适合中小学生入门算法。</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Product End -->

                                
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--== Page Content Wrapper End ==-->



<!--== Start Footer Area ==-->
<footer id="footer-area">


    <!-- Footer Bottom Area -->
    <div class="footer-bttom-area">
        <div class="container">
            <div class="row">
                <!-- Copyright Text Area -->
                <div class="col-md-6 m-auto text-center">
                    <p>Copyright &copy; 李思聪的BS作业</p>
                </div>
                <!-- Copyright Text Area -->
            </div>
        </div>
    </div>
    <!-- Footer Bottom Area -->
</footer>
<!--== End Footer Area ==-->

<!-- Scroll to Top Start -->
<a href="#" class="scrolltotop"><i class="fa fa-angle-up"></i></a>
<!-- Scroll to Top End -->


<!--=======================Javascript============================-->
<!--=== Jquery Min Js ===-->
<script src="js/vendor/jquery-3.3.1.min.js"></script>
<!--=== Jquery Migrate Min Js ===-->
<script src="js/vendor/jquery-migrate-1.4.1.min.js"></script>
<!--=== Popper Min Js ===-->
<script src="js/vendor/popper.min.js"></script>
<!--=== Bootstrap Min Js ===-->
<script src="js/vendor/bootstrap.min.js"></script>
<!--=== Ajax Mail Js ===-->
<script src="js/ajax-mail.js"></script>
<!--=== Plugins Min Js ===-->
<script src="js/plugins.js"></script>

<!--=== Active Js ===-->
<script src="js/active.js"></script>
</body>
</html>
