<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="meta description">

    <title>书籍</title>

    <!--=== Favicon ===-->
<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon"/>
<!--=== Bootstrap CSS ===-->
<link href="css/vendor/bootstrap.min.css" rel="stylesheet">
<!--=== Font-Awesome CSS ===-->
<link href="css/vendor/font-awesome.css" rel="stylesheet">
<!--=== Plugins CSS ===-->
<link href="css/plugins.css" rel="stylesheet">
<!--=== Helper CSS ===-->
<link href="css/helper.min.css" rel="stylesheet">
<!--=== Main Style CSS ===-->
<link href="css/style.css" rel="stylesheet">

<!-- Modernizer JS -->
<script src="js/vendor/modernizr-2.8.3.min.js"></script>

    <!--[if lt IE 9]>
    <script src="http://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<header id="header-area">
    <!-- Start Main Menu Area -->
    <div class="navigation-area" id="fixheader">
        <div class="container">
            <div class="row">
                <!-- Categories List Start -->
                <div class="col-10 col-lg-3">
                    <div class="categories-list-wrap">
                        <button class="btn btn-category d-none d-lg-inline-block">旧书交易网站
                        </button>
                    </div>
                </div>

                <!-- Main Menu Start -->
                <div class="col-2 col-lg-9 d-none d-lg-block">
                    <div class="main-menu-wrap">
                        <nav class="mainmenu">
    <ul class="main-navbar clearfix">
        <li><a href="home.html">主页</a></li>
        <li><a href="sale.html">我要卖书</a></li>
        <li><a href="buy.html">我要买书</a></li>
        <li><a href="trade.html">我的交易</a></li>
        <li><a href="search.html">书籍搜索</a></li>
        <li><a href="chat.html">聊天室</a></li>
    </ul>
</nav>
                    </div>
                </div>
                <!-- Main Menu End -->
            </div>
        </div>
    </div>
    <!-- End Main Menu Area -->
</header>
<!--== End Header Section ==-->

<div id="page-content-wrapper">
    <div class="container">
        <div class="row">
            <!-- Single Product Page Content Start -->
            <div class="col-lg-12">
                <div class="single-product-page-content">
                    <div class="row">
                        <!-- Product Thumbnail Start -->
                        <div class="col-lg-5">
                            <div class="product-thumbnail-wrap">
                                <div class="product-thumb-carousel owl-carousel owl-loaded owl-drag">
                                    
                                <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-890px, 0px, 0px); transition: all 0s ease 0s; width: 3560px;"><div class="owl-item cloned" style="width: 445px;"><div class="single-thumb-item">
                                        <a href="single-product.html"><img class="img-fluid" src="img/book1.jpg" alt="Product"></a>
                                    </div></div></div></div><div class="owl-dots disabled"></div></div>
                            </div>
                        </div>
                        <!-- Product Thumbnail End -->

                        <!-- Product Details Start -->
                        <div class="col-lg-7">
                            <div class="product-details">
                                <h2><a href="single-product.html">
<br/>
<br/>
<br/>
                                算法导论</a></h2>
                                <span class="price">¥50.00</span>

                                <div class="product-info-stock-sku">
                                    <span class="product-sku-status"><strong>哲学</strong></span>
                                </div>
                                <span class="text">原价：¥500.00</span>

                                <p class="products-desc"><br/>一本好书，适合中小学生入门算法</p>


                                <div class="product-quantity d-flex align-items-center">

                                    <a href="cart.html" class="btn btn-cart-large"><i class="fa fa-shopping-cart"></i>加入购物车</a>
                                </div>
                                <a href="">联系发布人</a>
                            </div>
                        </div>
                        <!-- Product Details End -->
                    </div>

                    <div class="row">
                        
                    </div>
                </div>
            </div>
            <!-- Single Product Page Content End -->
        </div>
    </div>
</div>



<!--== Start Footer Area ==-->
<footer id="footer-area">


    <!-- Footer Bottom Area -->
    <div class="footer-bttom-area">
        <div class="container">
            <div class="row">
                <!-- Copyright Text Area -->
                <div class="col-md-6 m-auto text-center">
                    <p>Copyright &copy; 李思聪的BS作业</p>
                </div>
                <!-- Copyright Text Area -->
            </div>
        </div>
    </div>
    <!-- Footer Bottom Area -->
</footer>
<!--== End Footer Area ==-->

<!-- Scroll to Top Start -->
<a href="#" class="scrolltotop"><i class="fa fa-angle-up"></i></a>
<!-- Scroll to Top End -->


<!--=======================Javascript============================-->
<!--=== Jquery Min Js ===-->
<script src="js/vendor/jquery-3.3.1.min.js"></script>
<!--=== Jquery Migrate Min Js ===-->
<script src="js/vendor/jquery-migrate-1.4.1.min.js"></script>
<!--=== Popper Min Js ===-->
<script src="js/vendor/popper.min.js"></script>
<!--=== Bootstrap Min Js ===-->
<script src="js/vendor/bootstrap.min.js"></script>
<!--=== Ajax Mail Js ===-->
<script src="js/ajax-mail.js"></script>
<!--=== Plugins Min Js ===-->
<script src="js/plugins.js"></script>

<!--=== Active Js ===-->
<script src="js/active.js"></script>
</body>
</html>
